langchain
langchain_community
pypdf
PyMuPDF
Pillow
faiss-cpu
huggingface_hub
python-dotenv
langchain_huggingface
langchain-openai
streamlit
pandas
rank_bm25
nltk

# FastAPI Backend Dependencies (optional here, already in backend)
fastapi
uvicorn[standard]
pydantic
python-multipart
websockets
aiofiles